body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'NarutoFont';
  src: url('../src/Fonts/njnaruto.ttf');
}

.login-container{
  margin-top: 7rem;
}

#anime-axis-nav-header {
  color:#813AFE;
  font-size: 20pt;
  font-family: 'NarutoFont';
}

.icon-img{
  width: 100px;
  height: 100px;
  margin-bottom: 2rem;
  margin-top: 4rem;
}

#login-button {
  color: #fff;
  background-color: #813AFE !important;
  border-color: #813AFE !important;
}

.signup-link{
  color: black;
  text-align: left;
}