body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sidebar{
  min-height: calc(100vh - 2em);
  position: fixed;
}

@font-face {
  font-family: 'NarutoFont';
  src: url('../src/Fonts/njnaruto.ttf');
}

.login-container{
  margin-top: 7rem;
}

#anime-axis-nav-header {
  color:#813AFE;
  font-size: 20pt;
  font-family: 'NarutoFont';
}

.icon-img{
  width: 100px;
  height: 100px;
  margin-bottom: 2rem;
  margin-top: 4rem;
}

#login-button {
  color: #fff;
  background-color: #813AFE !important;
  border-color: #813AFE !important;
}

.signup-link{
  color: black;
  text-align: left;
}

#logout-button {
  color: red;
}

.anime-card-title {
  font-size: 10pt !important;
}

/* Lower titles on all cards */
#card-test{
  margin-top: 17rem !important;
}

/* .forum-component, .anime-page-container, .manga-page-container, .homepage-container, .manga-homepage-container, .top-anime-airing-list, .top-anime-popularity-list, .top-anime-score-list, .top-anime-upcoming-list, .top-manga-popularity-list, .top-manga-score-list, .top-manga-novels-list, .top-manga-oneshots-list, .anime-search, .anime-forum-container, .anime-post-form-container, .manga-forum-container, .general-forum-container, .forum-post-container, .anime-discussion-container, .users-anime-list{
  margin-top: 6rem;
} */

#manga-background-card, .anime-forum-table, .manga-forum-table, .general-forum-table, .anime-discussion-table{
  margin-top: 1rem;
}

.forum-post-alert{
  text-align: center;
}

.profile-container {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    min-height: 100vh;
    
}

#profile-icon {
  margin-top: 1rem;
}

.loading-component {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  min-height: 100vh;
}